rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /ordenes_medicos/{docId} {
      allow read, write: if true;
    }

    match /ordenes_pacientes/{docId} {
      allow read, write: if true;
    }

    match /ordenes_config/{docId} {
      allow read, write: if true;
    }

    match /ordenes_email_envios/{docId} {
      allow read, write: if true;
    }

    match /presupuestos_prestaciones/{docId} {
      allow read, write: if true;
    }

    match /presupuestos_emitidos/{docId} {
      allow read, write: if true;
    }

    match /presupuestos_config/{docId} {
      allow read, write: if true;
    }

    match /pami_analisis/{docId} {
      allow read, write: if true;
    }
  }
}
